{{ define "content" }}
<p style="float:right;">
  <a href="/archive/{{ .Year }}">Back to {{ .Year }}</a>
</p>
<h1>{{.Title}}</h1>
<p class="text-muted">
  <small>{{ .BlogDate }}</small>
</p>

{{ if .Session.IsAdmin }}
  <form action="{{ .Url }}/edit2" method="post">
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Edit</button>
    </div>
  </form>
{{ end }}

<div id="links">
  {{.Html}}
</div>

{{ if .ShareAlias }}
<p class="text-muted">
  <small>Share it: <a href="https://hectorykarla.com/shared/{{.ShareAlias}}">http://hectorykarla.com/shared/{{.ShareAlias}}</a></small>
</p>
{{ end }}

{{ if .Session.IsAdmin }}
  <p class="text-muted">
    <small>Created on: {{ .CreatedOn }}</small><br/>
    <small>Last update: {{ .UpdatedOn }}</small>
  </p>
{{ end }}

<p class="text-muted">
  <small>{{ .Message }}</small>
</p>

<!-- The Gallery as lightbox dialog,
     should be a child element of the document body
     Add class blueimp-gallery-controls to enable controls -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <!-- <a class="play-pause"></a> -->
    <!-- <ol class="indicator"></ol> -->
</div>

<!-- Image gallery (lightbox) from: https://github.com/blueimp/Gallery -->
<script src="/public/js/blueimp-gallery.min.js"></script>
{{ end }}

{{ define "javascript_bottom" }}
<script type="text/javascript">
  $(document).ready(function() {
    $('.imgLink').click(function(event) {
      var target = event.target;
      var link = target.src ? target.parentNode : target;
      var options = {index: link, event: event};
      var links = $('.imgLink');
      blueimp.Gallery(links, options);
    });
  });
</script>
{{ end }}
