{{ define "content" }}

<h1>Welcome to H&amp;K</h1>

<div class="row">
  {{ range $key, $blog := .Blogs }}
    {{ if $blog.IsNewYear }}
      <div class="col-md-4 alert alert-info" id="year_{{ $blog.Year }}">
        <h2>{{ $blog.Year }} starts here &#8594;</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </div>
    {{ end }}

    <div class="col-md-4">
      <a class="thumbnail" href="{{ $blog.Url }}">
        <h2>{{ $blog.Title }}</h2>
        {{ if $blog.IsDraft }}
          <span>(draft)</span>
        {{ end }}
        {{ if $blog.Thumbnail }}
          <img src="{{ $blog.Thumbnail }}">
        {{ end }}
      </a>
    </div>
  {{ end }}
</div>

{{ if .Session.IsAuth }}
  <div class="row">
    <p>
      <form action="/blog/new" method="post">
        <button class="btn btn-primary" type="submit">New Post</button>
      </form>
    </p>
  </div>
{{ end }}

{{ end }}
