{{ define "content" }}

<style>
  .debugInfo {
    color: #aeaea8;
    font-size: 14px;
  }
</style>

<form id="theForm" class="form-horizontal" role="form" action="{{ .Url }}/save" method="post">

  <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" class="form-control"
      value="{{ .Title }}" placeholder="Blog title" autofocus/>
  </div>

  <div class="form-group">
    <label for="title">Date</label>
    <input type="text" id="blogdate" name="blogdate" class="form-control"
      value="{{ .BlogDate }}" autofocus/>
  </div>

  <div class="form-group">
    <label for="thumbnail">Thumbnail</label>
    <input type="text" id="thumbnail" name="thumbnail" class="form-control"
      value="{{ .Thumbnail }}" autofocus/>
  </div>

  <div class="form-group">
    <label for="shareAlias">Share Alias</label>
    <input type="text" id="shareAlias" name="shareAlias" class="form-control"
      value="{{ .ShareAlias }}" autofocus/>
  </div>

  {{ range $key, $section := .Sections }}
    <div class="form-group">
      <label for="text">Section</label>
      <select name="section_type_{{ .Id }}" id="section_type_{{ .Id }}">
        <option value="h" {{if .IsHeading}} selected {{end}}>Heading</option>
        <option value="p" {{if .IsParagraph}} selected {{end}}>Paragraph</option>
        <option value="p-en" {{if .IsParagraphEN}} selected {{end}}>Paragraph (English)</option>
        <option value="p-es" {{if .IsParagraphES}} selected {{end}}>Paragraph (Spanish)</option>
        <option value="i" {{if .IsPhoto}} selected {{end}}>Photo</option>
      </select>
      <textarea id="section_content_{{ .Id }}" name="section_content_{{ .Id }}" class="form-control" rows="5" placeholder="Enter text here">{{ .Content }}</textarea>
      <input type="text" id="section_id_{{ .Id }}" name="section_id_{{ .Id }}" value="{{ .Id }}" class="hidden" />
      Order: <input type="text" id="section_sequence_{{ .Id }}" name="section_sequence_{{ .Id }}" value="{{ .Sequence }}" class="xhidden" />
    </div>
  {{ end }}
</form>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group" role="group">
    <button class="btn btn-default" id="addHeading">Add Heading</button>
    <button class="btn btn-default" id="addParagraph">Add Paragraph</button>
    <button class="btn btn-default" id="addPhoto">Add Photo</button>
  </div>
  <div class="btn-group" role="group">
    <button type="submit" class="btn btn-primary" id="saveBottom">Save</button>
  </div>
</div>

<div style="margin-left: -20px;margin-top: 10px;">
  <span class="debugInfo">Debug info</span>
  <ul>
    <li class="debugInfo">ID: {{ .Id }}</li>
    <li class="debugInfo">Created: {{ .CreatedOn }}</li>
    <li class="debugInfo">Updated: {{ .UpdatedOn }}</li>
    <li class="debugInfo">Posted: {{ .PostedOn }}</li>
  </ul>
  <input type="text" id="nextSequence" value="{{ .SectionsNextSeq }}" class="hidden"/>
</div>
{{ end }}

{{ define "javascript_bottom" }}
<script>

$(function() {
  var nextNewId = 1;
  var addSection = function(type) {

    var html, newSeqId, nextSeq;
    // Add the input elements for the new section
    html = '<div class="form-group">';
    html += '  <label for="text">Section</label>';
    html += '  <select name="section_new_type_next_id" id="section_new_type_next_id">';
    
    if (type == "heading") {
      html += '    <option value="h" selected>Heading</option>';
    } else {
      html += '    <option value="h" >Heading</option>';
    }

    if (type == "paragraph") {
      html += '    <option value="p" selected>Paragraph</option>';
    } else {
      html += '    <option value="p">Paragraph</option>';
    }

    html += '    <option value="p-en">Paragraph (English)</option>';
    html += '    <option value="p-es">Paragraph (Spanish)</option>';

    if (type == "photo") {
      html += '    <option value="i" selected>Photo</option>';
    } else {
      html += '    <option value="i">Photo</option>';
    }
    html += '  </select>';

    html += '  <textarea id="section_new_content_next_id" name="section_new_content_next_id" class="form-control" rows="5" placeholder="Enter text here"></textarea>';
    html += '  <input type="text" id="section_new_id_next_id" name="section_new_id_next_id" value="" class="hidden" />';
    html += '  <input type="text" id="section_new_sequence_next_id" name="section_new_sequence_next_id" value="" class="xhidden" />';
    html += '</div>';
    html = html.replace(/_next_id/g, "_" + nextNewId.toString())
    $("#theForm").append(html);

    // Set the value for the new id
    newId = "#section_new_id_" + nextNewId.toString();
    $(newId).val(nextNewId.toString());

    // Set sequence value for the new section 
    nextSeq = parseInt($("#nextSequence").val(), 10);
    newSeqId = "#section_new_sequence_" + nextNewId.toString();
    $(newSeqId).val(nextSeq);

    // Bump our internal counters
    $("#nextSequence").val(nextSeq + 1);
    nextNewId += 1;
  }

  $("#addHeading").on("click", function(e) { 
    addSection("heading");
  });
  
  $("#addParagraph").on("click", function(e) { 
    addSection("paragraph"); 
  });

  $("#addPhoto").on("click", function(e) {
    addSection("photo"); 
  });

  $("#saveBottom").on("click", function(e) {
    $( "#theForm" ).submit();
  });
});

</script>

{{ end }}
