{{ define "content" }}
<p style="float:right;">
  <a href="/archive/{{ .Year }}">Back to {{ .Year }}</a>
</p>
<h1>{{.Title}}</h1>

{{ if .Session.IsAdmin }}
  <form action="{{ .Url }}/edit" method="post">
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Edit</button>
    </div>
  </form>
{{ end }}

<div id="links">
  {{.Html}}
</div>

<p class="text-muted">
  <small>Blog posted on: {{ .PostedOn }}</small>
</p>

{{ if .Session.IsAdmin }}
  <p class="text-muted">
    <small>Created on: {{ .CreatedOn }}, Last update: {{ .UpdatedOn }}</small>
  </p>
{{ end }}

<p class="text-muted">
  <small>{{ .Message }}</small>
</p>

<!-- The Gallery as lightbox dialog,
     should be a child element of the document body
     Add class blueimp-gallery-controls to enable controls -->
<div id="blueimp-gallery" class="blueimp-gallery ">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <!-- <a class="play-pause"></a> -->
    <!-- <ol class="indicator"></ol> -->
</div>

<!-- Image gallery (lightbox) from: https://github.com/blueimp/Gallery -->
<script src="/public/js/blueimp-gallery.min.js"></script>

<script type="text/javascript">
  document.getElementById('links').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
};
</script>

{{ end }}

{{ define "javascript_bottom" }}
{{ end }}
