{{ define "content" }}

<h1>All Blog Posts</h1>

<div class="row">
  {{ range $key, $blog := .Blogs }}
    <div class="col-md-4">
      <a class="thumbnail" href="{{ $blog.Url }}">
        <h2>{{ $blog.Title }}</h2>
        {{ if $blog.IsDraft }}
          <span>(draft)</span>
        {{ end }}
        {{ if $blog.Thumbnail }}
          <img src="{{ $blog.Thumbnail }}">
        {{ end }}
      </a>
    </div>
  {{ end }}
</div>

{{ if .Session.IsAuth }}
  <div class="row">
    <p>
      <form action="/blog/new" method="post">
        <button class="btn btn-primary" type="submit">New Post</button>
      </form>
    </p>
  </div>
{{ end }}

{{ end }}
