{{ define "content" }}

<h1>Welcome to H&amp;K</h1>

{{ range $key, $row := .BlogMatrix }}
  <div class="row">
    {{ range $key2, $blog := $row.Blogs }}
      {{ if $blog.IsNewYear }}
        <div class="col-md-12" class=" alert alert-info" id="year_{{ $blog.Year }}">
          <h2 class=" alert alert-info">{{ $blog.Year }}</h2>
        </div>
      {{ end }}
      <div class="col-md-4">
        <a class="thumbnail" href="{{ $blog.Url }}">
          <h2>{{ $blog.Title }}</h2>
          {{ if $blog.Thumbnail }}
            <img src="{{ $blog.Thumbnail }}">
          {{ end }}
        </a>
      </div>
    {{ end }}
  </div>
{{ end }}

{{ if .ShowMoreUrl }}
  <div class="col-md-4 alert alert-info">
    <p>Wanna see more? <a href="{{ .MoreUrl }}" class="btn btn-primary btn-lg">Click here</a></p>
  </div>
{{ end }}

{{ if .Session.IsAuth }}
  <div class="row">
    <p>
      <form action="/new" method="post">
        <button class="btn btn-primary" type="submit">New Post</button>
      </form>
    </p>
  </div>
{{ end }}

{{ end }}
